@import helper._

@(rsvpForm: Form[Rsvp])(invitee: Invitee)

@main("Rsvp form") {

	@helper.form(action = routes.Invitation.save(invitee.irn)) {
		
		@helper.inputText(rsvpForm("name"), '_label -> "RSVP")
		@helper.inputText(rsvpForm("foodRequirements"), '_label -> "Food")
		@helper.inputText(rsvpForm("guestNumber"), '_label -> "Number of Guests")
		@if(invitee.edinburgh) {
			<input name="rsvpEdinburgh" checked="rsvpEdinburgh" type="checkbox" value="true"/>
		}
		@if(invitee.australia) {
			<input name="rsvpAustralia" checked="rsvpAustralia" type="checkbox" value="true"/>
		}	
		
		<input type="submit" class="btn btn-primary"/>
	}
}  